* {
    margin: 0;
    padding: 0;
}

.center {
    margin-left: calc(50% - 600px);
    margin-right: calc(50% - 600px);
}

.header {
    background-image: url(./img/bgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.header__title {
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    padding-bottom: 32px;
    padding-top: 217px;
}

.header__paragraph {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFF;
    padding-bottom: 44px;
}

.button {
    width: 234.063px;
    height: 48.603px;
    border-radius: 30px;
    background: #9C0332;
    color: #FFF;
    border: none;
    margin-bottom: 506px;
}

.games {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 128px;
    padding-bottom: 128px;
    gap: 32px;
}

.games__cart {
    max-width: 379px;
    height: 300px;
    gap: 32px;
    margin-top: 128px;
    margin-bottom: 128px;
}

.cart__img {
    position: absolute;

}

.cart__title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    position: relative;
    margin-top: 236px;
    margin-left: 32px;
}

@media (max-width : 390px) {
    .center {
        margin-left: calc(50% - 172px);
        margin-right: calc(50% - 172px);

    }

    .header__title {
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 238px;
    }

    .header__paragraph {
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
    }

    .button {
        margin-left: 54px;
        margin-bottom: 252px;
    }

    .games {
        flex-direction: column;
        padding-bottom: 127px;
    }

    .games__cart {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 343px;
    }


    .cart__img {
        width: 343px;
        height: 300px;
        flex-shrink: 0;
    }

    .cart__title {
        margin-left: 16px;
    }

}